flan_t5_base_encoder_int8.mlpackage filter=lfs diff=lfs merge=lfs -text
StatefulMistral7BInstructInt4.mlpackage filter=lfs diff=lfs merge=lfs -text
flan_t5_base_decoder_int8.mlpackage filter=lfs diff=lfs merge=lfs -text
